<footer>
    <div class="f-info-socials">
        <i class="fa-brands fa-square-instagram"></i>
    <i class="fa-brands fa-square-facebook"></i>
    <i class="fa-brands fa-linkedin"></i>
    </div>

    <div class="f-info-company">
        WanderLust Private Limited
    </div>
    <div class="f-info-links">
        <a href="/about">About Us</a>
        <a href="/contact">Contact</a>
        <a href="/privacy">Privacy Policy</a>
    </div>
</footer>