
<% layout("/layouts/boilerplate") -%>

<div class="container my-5">
  <div class="alert alert-danger" role="alert">
    <h4 class="alert-heading">Oops! An Error Occurred</h4>
    <p><%= message %></p>
    <hr>
    <a href="/" class="btn btn-primary">Go Home</a>
  </div>
</div>
