 <% layout("/layouts/boilerplate") -%>

<h3 class="text-center my-4">All Listings</h3>

<div class="container">
  <div class="row g-4">
    <% for (let listing of allListings) { %>
      <div class="col-md-4">
        <a href="/listings/<%= listing._id %>" class="text-decoration-none text-dark">
          <div class="card listing-card shadow-sm border-0 rounded-4 h-100">
            <img src="<%= listing.image %>" class="card-img-top rounded-top-4" alt="listing_image" style="height: 200px; object-fit: cover;">
            <div class="card-body">
              <h5 class="card-title mb-1"><%= listing.title %></h5>
              <p class="card-text small text-muted">₹<%= listing.price.toLocaleString("en-IN") %> / night</p>
            </div>
          </div>
        </a>
      </div>
    <% } %>
  </div>
</div>
 